{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About NA64 Resources Site</h1>
</div>
<p class="lead">This site providing auxiliary resources for NA64 Experiment
(CERN, SPS)</p>
<p>The services provide access to various run-time information of few major
online services. Most of the URLs here are not supposed to be viewed directly
from browser. For experiment reference, proposals, and docs one can visit
the <a href="http://na64.web.cern.ch/">official NA64 page</a> or the
<a href="twiki.cern.ch/twiki/bin/view/P348">TWiki page</a> (available for CERN
members only). The major purpose of this site is to supply a centralized access
to vast amount of catalogued, classified and automatically obtained
information: particular experimental or modelled events, detector geometry,
conditions, runtime information about working third-party services and so on.</p>

<p>Despite of most of the URLs here are designed and tested in frame of
our software, many of resources here still may be accessed by media of
<a href="https://curl.haxx.se/libcurl/">cURL</a> library from C/C++
applications. For other modern languages one can utilize any of available HTTP
libraries that are usually supplied within their default distributions.</p>

<h2>Useful links</h2>

<p>An authorized person may be interested in visiting the page listing
<a href="{{url_for('sVresources.routes')}}">available service routes</a> to get some information about active
URLs.</p>

<h2>Contacts</h2>

<p>For any questions, comments or bug reports, please, contact to
<a href="https://greybook.cern.ch/greybook/participant/detail?id=773500">Renat R. Dusaev</a>.</p>

{% endblock %}
