{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

{#<div class="page-header">
  <h1>Sticky footer with fixed navbar</h1>
</div>
<p class="lead">Pin a fixed-height footer to the bottom of the viewport in
desktop browsers with this custom HTML and CSS. A fixed navbar
has been added within <code>#wrap</code> with <code>padding-top: 60px;</code>
on the <code>.container</code>.</p>#}

<div class="page-header">
  <h1>Available Service Routes</h1>
</div>
<p class="lead">Most of the links below aren't designed to be opened with
web browser application.</p>

<p>This information is for maintenance purposes only. All the available URLs
are listed here to show software developers that certain URL is active and
ready to serve/accept data.</p>

<h2>GET routes</h2>
<ul>
  {% for pair in getLinks %}
    <li> <code>{{pair[1]}}</code> :: {{pair[0]}} </li>
  {% endfor %}
</ul>

<h2>POST routes</h2>
<ul>
  {% for pair in postLinks %}
    <li> <code>{{pair[1]}}</code> :: {{pair[0]}} </li>
  {% endfor %}
</ul>

{% endblock %}
